extends layout
include mixins

block content
  h1 Búa til notanda

  if submitted && errors
    h2 Villur komu upp
    .errors
      ul
        each field in form
          if !field.valid && field.validationString
            li: label(for=field.name)= field.validationString

  form(method='post', action='/create')
    each field in form
      +field(field, submitted)
    div: button Útbúa

p: a(href='/login') Innskrá notanda