extends layout

block content
  h1= title
  p Ekki mikið um að vera hér... hugsanlega bæta við texta?

  p: a(href='/form') Hér er samt mjög spennandi form

  p So, I'm wondering, do the other cookie animals feel sorta ripped? Yeah, well, I'm not the one who wanted Wind Beneath My Wings for the first dance. How about 'cause you're a tiny impotent Nazi with a bug up his butt the size of an emu? I love what you are, what you do, how you try.
  
  p If I was blind, I would see you. Wash, we've got some local color happening. She is the slayer. How did your brain even learn human speech? I'm just so curious. It's about women. Uh, thermal exhaust port's above the main port, numbnuts.
  
  p We're outlaws with hearts of gold. Every single person down there is ignoring your pain because they're too busy with their own. So, she's added cussing and hurling about of things to her repertoire. It has nothing to do with me. These are stone killers, little man. They ain't cuddly like me. I saw their production of 'Giselle' in 1890. I wept like a baby, and I was evil! They need to take seven and they might take yours.
